*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  background: #030507;
}

#root {
  width: 100%;
  height: 100%;
}

* { -webkit-tap-highlight-color: transparent; }
button { -webkit-touch-callout: none; user-select: none; }
html, body { touch-action: manipulation; }
